docs/n8n/workflows/02-order-status-telegram.json
{
  "name": "Librairie YO - Order Status Changed to Telegram",
  "nodes": [
    {
      "id": "406928de-efc2-4da6-97cf-2ef7f5f3a101",
      "name": "Order Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 280],
      "parameters": {
        "path": "librairie-yo/order-status-changed",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "39fdf13d-4e2e-4ca0-9b72-47d5da6cd202",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 280],
      "parameters": {
        "jsCode": "const envelope = $json || {};\nconst data = envelope.data || {};\nconst order = data.order || {};\nconst customer = order.customer || {};\n\nreturn [{\n  json: {\n    orderId: order.orderId || 'N/A',\n    previousStatus: data.previousStatus || null,\n    status: order.status || 'pending',\n    reviewedAt: Number(order.reviewedAt || Date.now()),\n    customerName: customer.name || 'Client',\n    phone: customer.phone || 'N/A',\n    total: Number(order.total || 0),\n    reference: order.payment?.referencePaiement || order.payment?.txId || 'N/A'\n  }\n}];"
      }
    },
    {
      "id": "e7431abf-8634-4b7a-9ab0-94939f80fd03",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 280],
      "parameters": {
        "jsCode": "const statusInfo = {\n  pending: '[WAIT] En attente',\n  approved: '[OK] Approuvee',\n  rejected: '[NO] Rejetee'\n};\n\nconst toStatus = statusInfo[$json.status] || $json.status;\nconst fromStatus = $json.previousStatus ? (statusInfo[$json.previousStatus] || $json.previousStatus) : 'inconnu';\nconst total = Number($json.total || 0).toLocaleString('fr-FR');\nconst reviewedAt = new Date($json.reviewedAt || Date.now()).toLocaleString('fr-FR');\n\nconst lines = [\n  'Mise a jour commande Librairie YO',\n  `Commande: #${$json.orderId}`,\n  `De: ${fromStatus}`,\n  `Vers: ${toStatus}`,\n  `Client: ${$json.customerName}`,\n  `Telephone: +${$json.phone}`,\n  `Reference paiement: ${$json.reference}`,\n  `Total: ${total} GNF`,\n  `Traitee le: ${reviewedAt}`\n];\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      }
    },
    {
      "id": "1d11f7ef-a839-4af1-b3e9-e42cd92e3504",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 280],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "3b3aa9f8-d951-4f71-9008-6f67ec8cce05",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 280],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, event: 'order.status_changed' } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Order Status Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
